* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* ---------------App--------------- */

/* ---------UserList------------------- */
.userList {
    width: 98%;
    height: 98vh;
    position: relative;
    display: flex;
    flex-direction: column;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 50px;
}
.userList_container_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.create{
  width:200px ;
  height: 40px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #555A88;
}


.userList hr{
    width: 90%;
    opacity: 0.3;
    border: none;
    background-color: #C3C1C1;
    height: 1.5px;
    

}


.userList ul {
    list-style: none;
    display: grid;
    height: 280px;
    grid-template-columns: 1fr 1fr 1fr;
    
    
    
}
.page{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #555A88;
}
.userList ul li {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.userList ul>li {

    list-style: none;
    
    padding: 5px;
    

}
.title{
   color: #C3C1C1;
}
.userList ul > li > ul{
    display: flex;
    flex-direction: column;
    border: 1px solid RGBA( 169, 169, 169,101 );
    
    border-radius: 20px;
    padding: 5px;
}
.name{
    font-size: 20px;
    text-align: center;
}
.Container_buttons{
    display: flex;
    flex-direction: row-reverse ;
    gap: 10px;
    padding: 5px;
}
.Container_buttons > button{
    width: 35px;
    height: 40px;
    border:solid 0.3px #C3C1C1 ;
    border-radius: 5px;

}
.Container_buttons > button >i:hover{
    cursor: pointer;
}
.fa-pencil{
    color: grey;
}
.trash{
    background-color: rgb(211, 51, 12)  ;
    border:none;
}
.fa-trash-can{
    color: white;
}


/* ----------------User Forms */

.form {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 550px;
    padding: 20px;

    gap: 20px;

    z-index: 2;
    background-color: white;

    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 5px 12px lightblue;
}

.form .input-container {
    display: flex;
    flex-direction: column;
}

.form>.submit {
    height: 35px;
    background: #555A88;
    color: white;
    border: none;
    border-radius: 10px;

}

.form> .submit:hover {
    background-color: violet;
    scale: 105%;
    box-shadow: 2px 5px 12px lightblue;

}
.close{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;

}


input {
    height: 30px;
    border: 1px solid #C3C1C1;
    border-radius: 6px;
    background: #F9FAFC;
    padding: 10px;
}

.hiden{
    display: none;
}

/* -----------------bakcground --------------------*/



